<div class="container-fluid maincontainer">
	<div id="top" class="imagenPortada">
		<img src="/portada.gif">
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="formulario">
				<div class="innerForm">
				<form action="/" method="POST">
					<p>¡ me interesa el producto !</p>
					<input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1" name="email"><br>
					<div class="secondaryFields">
					<input type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1" name="nombre">
					<input type="text" class="form-control" placeholder="Empresa" aria-describedby="basic-addon1" name="empresa">
					<input type="text" class="form-control" placeholder="Cargo" aria-describedby="basic-addon1" name="cargo">
					<input type="text" class="form-control" placeholder="Sector" aria-describedby="basic-addon1" name="sector">
					</div><br>
					<p class="message">Estoy interesado en recibir información comercial sobre la cubierta desplegable SPK.</p>
					<input class="btn" type="submit" value="¡ QUIERO INFORMACIÓN !">
				</form>
				</div>
				<img src="/logo.png" id="partner">
			</div>
		</div>
	</div>
</div>